body {
    margin: 0px;
}

.hero {
    background-image: url(land.svg);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    height: 590px;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20px;
    color: red;
}

#img {
    width: 100px;
    height: 100px;
    border-radius: 100px;

}

#Self {
    width: 310px;
    height: 310px;
    border-radius: 100%;
    position: relative;
    top: 10px;
}
.profile{
    text-align: center;
}
.para{
    text-align: center;
   /* display: flex;
    flex-wrap: wrap; */
}

.image {
    position: fixed;
    padding: 50px 0 0 20px;
}
#hello{
    
    position: relative;
    font-size: 50px;
    text-align: center;
    color: green;
    font-weight: bold;
    margin: 0;
}
#computer{
    position: relative;
    top: 40px;
    left: 40px;
}

#para{
    text-align: center;
    font-size: 30px;
}
#dot{
    font-size: 100px;
    margin: 0;
}
.flex{
    top: 50px;
    display: flex;
   position: relative;
   left: 400px;
}

#Pro{
    top: 20px;
    left: 350px;
    position: absolute;
    font-size: 50px;
    text-align: center;
    color: green;
    font-weight: bold;
    margin: 0;
}
.skiils{
    position: absolute;
}